@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FAF9F6;
}
[x-cloak] { display: none !important; }
